.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.products {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.cart {
  width: 20%;
  text-align: center;
  padding-left: 30px;
  position: fixed;
  top: 70;
  right: 50px;
  

}
